body {
  font-family:  Roboto, sans-serif;
  display: flex;
  margin: 0;
  height: 755px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  width: 260px;
  height: 100%;
}

.profile { 
  background-color: red;
  height: 100px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  height: 230px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(71, 71, 71);
}

.sidebar-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: rgb(221, 221, 221);
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 15px;
  width: 100%;
}
 
.sidebar-buttons:hover { 
  background-color: rgb(70, 70, 70);
}

.sidebar-icon { 
  width: 18px;
}

.category-title { 
  width: 100%
}

.list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 425px;
}

.list-container {
  height: 380px;
}

.list-buttons {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.add-new-document { 
  width: 50px;
  justify-content: center;
  padding: 0px;
}

.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(33, 33, 33);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 95px;
}

.header-icon { 
  width: 36px;
}

.header-title { 
  font-size: 28px;
  font-weight: 500;
  color: rgb(237, 227, 214);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 560px;
  overflow-y: auto;
}

.task-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
  background-color: rgb(43, 43, 43);;
  height: 55px;
  border-radius: 3px;
  color: rgb(237, 227, 214);
  font-size: 14px;
  flex-shrink: 0;
}

.task-container:hover {
  background-color: rgb(75, 75, 75);
}

.task-check {
  width: 23px;
}

.task-check:hover {
 
}

.task {
  width: 100%;
}

.add-task {
  display: flex;
  height: 100px;
}

.add-task-input { 
  height: 45px;
  border-radius: 4px;
  border: none;
  background-color: rgb(43, 43, 43);
  color: rgb(237, 227, 214);
  font-size: 14px;
  background-image: url(./assets/main-content-icons/add-task.svg);
  margin-top: 5px;
  width: 100%;
  outline: none;
}

.add-task-input::placeholder {
  color: rgb(237, 227, 214);
}

.add-task-input:hover { 
  background-color: rgb(75, 75, 75);
}

