body {
  margin: 0;
  display: flex;
  height: 755px;
}

.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 150px;
 
}

.main-content {
  background-color: red;
  height: 100%;
  width: 100%;
}



