body {
  font-family:  Roboto, sans-serif;
  display: flex;
  margin: 0;
  height: 755px;
}

p, h2 {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 33, 33);
  width: 260px;
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  height: 96px;
  padding-left: 12px;
}

.profile-details {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 10px;
}

.pfp { 
  width: 50px;
  height: 48px;
  border-radius: 30px;
  flex-shrink: 0;
  cursor: pointer;
}

.user-details { 
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: rgb(221, 221, 221);
  width: 100%;
}

.username { 
  font-weight: bold;
  font-size: 15px;
}

.search {
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(57, 57, 57);
  border-bottom-width: 2px;
  border-bottom-color: rgb(195, 191, 191);
  width: 212px;
}

.search-input { 
  height: 28px;
  border-radius: 5px;
  outline: none;
  background-color: rgb(33, 33, 33);
  border: none;
  padding-left: 10px;
  color: rgb(190, 190, 190);
}

.search-input::placeholder { 
  color: rgb(190, 190, 190);
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  height: 230px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(71, 71, 71);
}

.sidebar-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: rgb(221, 221, 221);
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 15px;
  width: 100%;
}
 
.sidebar-buttons:hover { 
  background-color: rgb(70, 70, 70);
}

.sidebar-icon { 
  width: 18px;
}

.category-title { 
  width: 100%
}

.list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 410px;
}

.list-container {
  height: 380px;
}

.list-buttons {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.add-new-document { 
  width: 50px;
  justify-content: center;
  padding: 0px;
}

.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(30, 30, 30);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 95px;
}

.header-icon { 
  width: 36px;
}

.header-title { 
  font-size: 28px;
  font-weight: 500;
  color: rgb(237, 227, 214);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 560px;
  overflow-y: auto;
}

.task-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
  background-color: rgb(43, 43, 43);;
  height: 55px;
  border-radius: 3px;
  color: rgb(237, 227, 214);
  font-size: 14px;
  flex-shrink: 0;
}

.task-container:hover {
  background-color: rgb(75, 75, 75);
}

.task-check {
  width: 23px;
}

.task-check:hover {
 
}

.task {
  width: 100%;
}

.add-task {
  display: flex;
  height: 100px;
}

.add-task-input { 
  height: 45px;
  border-radius: 4px;
  border: none;
  background-color: rgb(43, 43, 43);
  color: rgb(237, 227, 214);
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
  outline: none;
  padding-left: 20px;
}

.add-task-input::placeholder {
  color: rgb(237, 227, 214);
}

.add-task-input:hover { 
  background-color: rgb(75, 75, 75);
}

/* drawer */

.drawer-container {
  display: flex;
}

.drawer {
  display: flex;
  flex-direction: column;
  width: 350px; 
  padding: 10px;
  background-color: rgb(33, 33, 33);
  color: rgb(187, 185, 185);
  font-size: 14px;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.task-drawer {
  border-radius: 3px;
  background-color: rgb(20, 20, 20);
}

.task-drawer:hover {
  background-color: rgb(78, 78, 78);
}

.drawer-header {
  background-color: rgb(33, 33, 33);
  text-align: right;
  padding: 0px 10px;
  height: 25px;
}

.drawer-update-task {
  display: flex;
  gap: 10px;
  height: 50px;
  background-color: rgb(20, 20, 20);
  border-radius: 2px;
  padding-right: 10px;
}

.update-task-input {
  font-family:  Roboto, sans-serif;
  align-content: center;
  color: white;
  border: none;
  width: 300px;
  font-size: 20px;
  background-color: rgb(20, 20, 20);
  padding-left: 15px;
  outline: none;
}

.update-task-input::-webkit-scrollbar {
  display: none;
}

.drawer-addMyDay, .drawer-add-file {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0px 14px;
  gap: 10px;
}

.drawer-set-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  background-color: rgb(20, 20, 20);
  border-radius: 2px;
}

.add-note-input {
  font-family:  Roboto, sans-serif;
  align-content: baseline;
  color: white;
  height: 45px;
  border: none;
  font-size: 14px;
  background-color: rgb(20, 20, 20);
  padding-left: 14px;
  outline: none;
  padding: 15px;
}

.add-note-input::placeholder {
  color: rgb(187, 185, 185);
}

.drawer-task-delete {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.created {
  text-align: center;
  align-content: center;
  width: 320px;
}

/* modal */

.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.modal-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  padding: 20px;
  gap: 8px;
  color: white;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(55, 54, 54);
}

.modal-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.modal-delete-btn {
  background-color: rgb(226, 3, 3);
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 14px;
}

.modal-cancel-btn {
  background-color: rgb(55, 55, 55);
}

.modal-btn { 
  border: none;
  padding: 8px 35px;
  border-radius: 5px;
  color: white;
}

.modal-btn:hover {
  opacity: 0.8;
}



